@import "Common/sizes.scss";
@import "Common/colors.scss";

html {
	font-size: $font-size;
}

body {
	background-color: $body-background-color;
	min-width: 320px;
	min-height: 480px;
}

a:link,
a:visited {
	color: $link;
	text-decoration: none;
}

a:link:hover {
	color: $link-hovered;
	text-decoration: underline;
}

html, body, #app {
	height: 100%;
}

#app {
	min-height: 100%;
}

@import "./Components/Common/header.scss";
@import "./Common/paddings.scss";
@import "./Common/margins.scss";
