@import "common.scss";
@import "colors.scss";
@import "sizes.scss";

.navigationLinkItemContainer {
  .navigationLinkItem {
    color: $orangeTextColor;
    display: block;
    font-size: $navigationLinkItemFontSize;
    overflow: hidden;
    padding: $navigationLinkItemPadding;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .navigationLinkItem:hover{
    color: $orangeTextColorHovered;
  }

  .navigationLinkItemSeparator {
    background-color: $orangeTextColor;
    height: $navigationLinkItemSeparatorHeight;
  }

  //lg and bigger screens
  @media ($lg-min) {
    .navigationLinkItem {
      color: $yellowTextColor;
      font-size: initial;
    }

    .navigationLinkItem:hover {
      color: $yellowTextColorHovered;
    }

    .navigationLinkItemSeparator {
      display: none;
    }
  }
}
