
@{
	ViewBag.Title = "Test";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="category-container">
				<div class="category-header vertical-center" data-toggle="collapse" data-target="#category-body-id-1">
					<div class="full-width-wrapper">
						<div class="category-header-title">
							Label
						</div>
					</div>
				</div>
				<div class="category-body collapse" id="category-body-id-1">
					<div class="forum-container">
						<div class="forum-title">
							<a class="forum-title-link" href="#">Title</a>
						</div>
						<div class="forum-topics-count">
							Topics: 10
						</div>
						<div class="forum-posts-count">
							Posts: 1250
						</div>
						<div class="forum-last-post-in-topic">
							Last message in <a href="#">topic</a>
						</div>
						<div class="forum-container-separator">
							separator
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>