
@{
	ViewBag.Title = "Test";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="forum-container">
				<div class="forum-category-header" data-toggle="collapse" data-target="#forum-category-body-id-1">
						<div class="forum-category-name">
							<div>
								Label
							</div>
						</div>
				</div>
				<div class="forum-category-body collapse" id="forum-category-body-id-1">
					<span>
						Content
					</span>
				</div>
			</div>
		</div>
	</div>
</div>