
@{
	ViewBag.Title = "Test";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="categories-container">
				<div class="category-container">
					<div class="category-header vertical-center-container-xs-up" data-toggle="collapse" data-target="#category-body-id-1">
						<div class="full-width-container-xs-up">
							<div class="category-header-title">
								Label
							</div>
						</div>
					</div>
					<div class="category-body collapse" id="category-body-id-1">
						<div class="forums-container">
							<div class="forum-container col-xs-12 padding-initial-xs-up">
								<div class="forum-partial-container col-md-5 col-lg-8 padding-left-initial-md-down">
									<div class="col-lg-8">
										<div class="forum-title">
											<a class="forum-title-link" href="#">Title</a>
										</div>
										<div class="forum-description hidden-md-down">
											Some description for forum
										</div>
									</div>
									<div class="forum-topics-count float-left-md-down col-lg-2">
										Topics: 10
									</div>
									<div class="forum-posts-count col-lg-2">
										Posts: 1250
									</div>
								</div>
								<div class="forum-partial-container col-lg-4 padding-left-initial-lg-up">
									<div class="forum-last-post-time-ago hidden-sm-down col-md-3 col-lg-12 padding-initial-sm-down vertical-center-container-md-down float-left-lg-up">
										4 hours ago
									</div>
									<div class="forum-last-post-in-topic col-md-4 col-lg-12 padding-initial-sm-down vertical-center-container-md-down">
										<span>Last message in <a href="#">topic</a></span>
									</div>
								</div>
							</div>
							<div class="forum-container-separator col-xs-12"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>