@import "colors.scss";
@import "sizes.scss";
@import "image-backgrounds.scss";
@import "common.scss";

.topicMainInfoContainer{
  width: 100%;
}

.topicTitle{
  display: block;
  font-size: $topicTitleFontSize;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.topicParentForumWrapper {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  .topicParentForumTitle,
  .topicParentForumTitle:hover{
    color: $orangeBrightTextColor;
  }
}

.topicContainerWrapper:last-child {
  .topicSeparator {
    display: none;
  }
}

.lastPostInfoRow{
  height: 100%;
}

.lastPostInfoColumn{
  display: flex;
  flex-direction: row;
  height: 100%;
}

@media ($md-min) and ($md-max)
{
  .lastPostInfoColumn{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
@media ($lg-min)
{
  .lastPostInfoColumn{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
