@import "../gridSizes.scss";

.container,
.containerFluid {
  margin-right: auto;
  margin-left: auto;
}

@each $breakpoint, $size-min, $size-max, $container in $grid-breakpoints-min-max-container {
  @media ($size-min) {
    .container {
      width: $container;
    }
  }
}
