@import "colors.scss";
@import "sizes.scss";
@import "image-backgrounds.scss";


.think{
  padding: $bbCodePadding;
}

.thinkContent{
  background-color: $bbCodeThinkBackgroundColor;
  border: $bbCodeBorderSize solid $bbCodeThinkBorderColor;
  border-radius: $bbCodeThinkContentBorderRadius;
  padding: $bbCodePadding;
}

.thinkImage{
  background-image: $bbCodeThinkSmile;
  background-repeat: no-repeat;
  background-size: $bbCodeThinkImageSize;
  padding-top: $bbCodeThinkImageSize;
}
