$headerBackgroundColor: #322C27;
$orangeTextColor: #AC6B37;
$orangeTextColorHovered: #EF9853;
$orangeBrightTextColor: #E4991C;
$yellowTextColor: #CBC065;
$yellowTextColorHovered: #FFF495;
$navigationLinksArrayBackgroundColor: #252525;
$footerBackgroundColor: #3E3025;
$footerTextColor: #CFB095;
$bodyBackgroundColor: #171717;
$breadcrumbBackgroundColor: $bodyBackgroundColor;
$contentHolderHeaderBackgroundColor: #564B41;
$breadcrumbItemBackgroundColorHovered: $contentHolderHeaderBackgroundColor;
$breadcrumbItemBackgroundColor: #5D5956;
$contentHolderBodyTextColor: #48423D;
$contentHolderBodyBackgroundColor: #7B736B;
$separatorBackgroundColor: #9C877C;
$subForumIconFillColor: $separatorBackgroundColor;
$bbCodeOfftopicColor: #67605A;
$bbCodeQuoteBorderColor: #D4C5B6;
$bbCodeThinkBorderColor: #FFFFFF;
$bbCodeThinkBackgroundColor: #D4C5B6;
$bbCodeQuoteBackgroundColor: #9A8D7F;
$bbCodeCodeHeaderColor: #D4D4D4;
$bbCodeCodeContentColor: #FFA100;
$bbCodeCodeBorderColor: #9C9085;
$bbCodeCodeBackgroundColor: #59534D;
