$headerBackgroundColor: #322c27;
$orangeTextColor: #ac6b37;
$orangeTextColorHovered: #ef9853;
$orangeBrightTextColor: #e4991c;
$yellowTextColor: #cbc065;
$yellowTextColorHovered: #fff495;
$navigationLinksArrayBackgroundColor: #252525;
$footerBackgroundColor: #3e3025;
$footerTextColor: #cfb095;
$bodyBackgroundColor: #171717;
$breadcrumbBackgroundColor: $bodyBackgroundColor;
$contentHolderHeaderBackgroundColor: #564b41;
$breadcrumbItemBackgroundColorHovered: $contentHolderHeaderBackgroundColor;
$breadcrumbItemBackgroundColor: #5d5956;
$contentHolderBodyTextColor: #48423d;
$contentHolderBodyBackgroundColor: #7b736b;
$separatorBackgroundColor: #9c877c;
$subForumIconFillColor: $separatorBackgroundColor;
$bbCodeOfftopicColor: #67605a;
$bbCodeQuoteBorderColor: #d4c5b6;
$bbCodeThinkBorderColor: #ffffff;
$bbCodeThinkBackgroundColor: #d4c5b6;
$bbCodeQuoteBackgroundColor: #9a8d7f;
$bbCodeCodeHeaderColor: #d4d4d4;
$bbCodeCodeContentColor: #ffa100;
$bbCodeCodeBorderColor: #9c9085;
$bbCodeCodeBackgroundColor: #59534d;
