$headerBackgroundImageMd: url(images/DEM/header/Dem_NavBar_bg_md.png);
$headerBackgroundImageLg: url(images/DEM/header/Dem_NavBar_bg_lg.png);
$headerBackgroundImageXl: url(images/DEM/header/Dem_NavBar_bg_xl.png);
$logotypeBackgroundImage: url(images/DEM/header/Dem_Logo.png);



$footer-background-lg: url(images/DEM/footer/Dem_Footer_bg_lg.png);
$footer-background-xl: url(images/DEM/footer/Dem_Footer_bg_xl.png);

$bbCode-think-smile: url(images/Smiles/forBbCode/think.gif);
$user-avatar-default: url(images/DEM/default_avatar.png);
