$header-logo: url(images/DEM/header/Dem_Logo.png);
$navbar-background-md: url(images/DEM/header/Dem_NavBar_bg_md.png);
$navbar-background-lg: url(images/DEM/header/Dem_NavBar_bg_lg.png);
$navbar-background-xl: url(images/DEM/header/Dem_NavBar_bg_xl.png);

$footer-background-lg: url(images/DEM/footer/Dem_Footer_bg_lg.png);
$footer-background-xl: url(images/DEM/footer/Dem_Footer_bg_xl.png);

$bbCode-think-smile: url(images/Smiles/forBbCode/think.gif);
$user-avatar-default: url(images/DEM/default_avatar.png);
