$mainFontSize: 16px; //1rem = 16px
$textSpaceSize: 0.3125rem;

$bodyMinWidth: 290px;
$bodyFontSize: 1rem;
$bodyLineHeight: 1.5;

$headerHeightXsSm: 3.4375rem;
$headerHeightMd: 3.75rem;
$headerHeightLg: 5rem;
$headerLogoContainerPaddingLeft: 0.9375rem;
$headerNavigationMenuButtomContainerPaddingRight: $headerLogoContainerPaddingLeft;

$pageContentPaddingTopXsSm: $headerHeightXsSm;
$pageContentPaddingTopMd:  $headerHeightMd;
$pageContentPaddingTopLgXl: $headerHeightLg;

$navigationLinksArrayPaddingRight: $headerLogoContainerPaddingLeft;
$navigationLinkItemFontSize: 1.3125rem;
$navigationLinkItemPadding: 0.5rem;
$navigationLinkItemSeparatorHeight: 0.1875rem;

$headerLogoContainerWidthXsSm: 9.0625rem;
$headerLogoContainerHeightXsSm: 2.3125rem;
$headerLogoContainerHeightMd: 2.8125rem;
$headerLogoContainerWidthMd: 10.9375rem;
$headerLogoContainerHeightLgXl: 4.0625rem;
$headerLogoContainerWidthLgXl: 15.9375rem;

$menuButtonPadding: 0.5rem;
$menuButtonLineWidth: 2rem;
$menuButtonLineHeight: 0.1875rem;
$menuButtonLineBorderRadius: 0.0625rem;
$menuButtonLineSecondAndMore: 0.25rem;

$marginBetweenBlocks: 0.3125rem;
$footerMarginTop: $marginBetweenBlocks;
$footerHeightMdDown: 1.875rem;
$footerHeightLgUp: 2.5rem;

$breadcrumbMargingTop: $marginBetweenBlocks;
$breadcrumbItemArrowPaddingMarginRight: 0.1875rem;
$breadcrumbItemArrowPaddingLeft: 0.9375rem;
$breadcrumbItemArrowFontSize: 0.9rem;
$breadcrumbItemArrowLineHeight: 1.4;
$breadcrumbItemArrowHeight: 1.25rem;

$contentHolderContainerPaddingTop: $marginBetweenBlocks;
$contentHolderHeaderTitlePaddingHorizontal: 0.9375rem;
$contentHolderBodyPadding: $contentHolderHeaderTitlePaddingHorizontal;

$subForumsContainerPaddingTop: 0.625rem;
$separatorHeight: 0.125rem;
$separatorMargin: 0.3rem 0;

$subForumLinkFontSize: 1rem;
$subForumLinkLineHeight: 1.3;
$subForumIconHeight: 1.3125rem;
$subForumIconMarginTop: -0.48046875rem;

$contentHolderHeaderHeight: 2.5rem;
$contentHolderHeaderFontSize: 1.25rem;
$iconArrowLeftContentHolderTitle: 1.2rem;

$forumTitleFontSize: 1.3125rem;
$topicTitleFontSize: $forumTitleFontSize;
$forumCounterPaddingRight: 0.46875rem;
$forumColumnFontSize: 0.8rem;
$userAvatarSize: 2.5rem;

$socialMediaLinkHeightWeight: 2rem;
$socialMediaLinkMargingLeftRight: 0.125rem;
$socialMediaLinkLastChildMargingRight: 0.25rem;

$postUserNameRankPaddingLeft: 0.625rem;

$bbCodeBorderSize: 0.0625rem;
$bbCodePadding: 0.4rem;
$bbCodeQuoteMarginVertical: 0.3125rem;
$bbCodeQuoteMarginHorisontal: 1.25rem;
$bbCodeThinkContentBorderRadius: 1rem;
$bbCodeThinkImageSize: 2rem;
