@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-top: 5px;">
<script id="cid0020000101411069810" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 1160px;height: 540px;">{"handle":"demorgua","arch":"js","styles":{"a":"f17c1c","b":100,"c":"ffffff","d":"ffffff","e":"565656","g":"ffffff","h":"565656","j":"ffffff","k":"f17c1c","l":"f17c1c","m":"CC0000","n":"FFFFFF","p":"10","q":"939393","r":100,"t":0,"ab":false,"surl":0,"fwtickm":0}}</script></div>