@using DEM_MVC.Services
@model DEM_MVC_BL.Models.TopicShowViewModel

@{
    ViewBag.Title = "ViewForum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="topic-actions">
    <div class="topic-actions-buttons">
        New message btn
    </div>
    @{
        var navigationBtnClasses = "ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only nonDecoration demNavigationBtn";
        var currentPageNavigationBtnClasses = "ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only nonDecoration demNavigationSpan ui-state-active";
    }
    <div class="topic-actions-paging">
        @Html.PostPagingForViewTopic(Model, "ViewTopic", "Forum", new { @class = navigationBtnClasses }, new { @class = currentPageNavigationBtnClasses })
    </div>
    <div class="clear"></div>
</div>
@if (Model.PollsEnabled)
{
    <div id="pollsMainPanel">
        @Html.Action("ShowPollTableByTopicId", "Forum")
    </div>
}
@if (!Model.PollsOnly)
{
    <div id="postsMainPanel">
        @Html.Action("ShowPostTableByTopicId", "Forum")
    </div>
}
<div class="topic-actions">
    <div class="topic-actions-buttons">
        New message btn
    </div>
    <div class="topic-actions-paging">
        @Html.PostPagingForViewTopic(Model, "ViewTopic", "Forum", new { @class = navigationBtnClasses }, new { @class = currentPageNavigationBtnClasses })
    </div>
    <div class="clear"></div>
</div>