@import "sizes.scss";
@import "colors.scss";

// sass-lint:disable no-ids
html, body, #app {
  height: 100%;
}

#app {
  min-height: 100%;
}
// sass-lint:enable no-ids

html {
  font-size: $mainFontSize;
}

body {
  background-color: $bodyBackgroundColor;
  font-family: Arial,sans-serif;
  font-size: $bodyFontSize;
  line-height: $bodyLineHeight;
  margin: initial;
  min-width: $bodyMinWidth;
}

a:link,
a:visited {
  color: $yellowTextColor;
  text-decoration: none;
}

a:link:hover,
a:visited:hover {
  color: $yellowTextColorHovered;
  text-decoration: underline;
}
