<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="DemConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=93.190.46.34,33301;Initial Catalog=uh376233_db; User ID=uh376233_user; Password=wQ72PF4rXn;" xdt:Transform="Replace"/>
  </connectionStrings>
  <appSettings>
    <!--Twitter settings start-->
    <add key="TwitterEnable" value="true" xdt:Transform="Replace"/>
    <add key="TwitterConsumerKey" value="BShp3AEVYjk0jqheflkVgb6ks" xdt:Transform="Replace"/>
    <add key="TwitterConsumerSecret" value="htpRrI3kZ3b6XeBYuHpvJcWNdmVgHKq7Hi3deYiyuxqz9amutB" xdt:Transform="Replace"/>
    <!--Twitter settings end-->

    <!--Facebook settings start-->
    <add key="FacebookEnable" value="true" xdt:Transform="Replace"/>
    <add key="FacebookId" value="809815392478491" xdt:Transform="Replace"/>
    <add key="FacebookSecret" value="1aa8db07eb1e26241941ab3bfacab399" xdt:Transform="Replace"/>
    <add key="UserInformationEndpoint" value="https://graph.facebook.com/v2.4/me?fields=name,email" xdt:Transform="Replace"/>
    <!--Facebook settings end-->

    <!--Twitter settings start-->
    <add key="GoogleEnable" value="true" xdt:Transform="Replace"/>
    <add key="GoogleClientId" value="620387322426-cttg2916hjkos8ml5p2b897r9hgf1u1o.apps.googleusercontent.com" xdt:Transform="Replace"/>
    <add key="GoogleClientSecret" value="DqQuHx72WhYDyPwpky56fKdL" xdt:Transform="Replace"/>
    <add key="GoogleCallbackPath" value="/Manage/LinkLoginCallback/" xdt:Transform="Replace"/>
    <!--Twitter settings end-->

    <!--Vkontakte settings start-->
    <add key="VkontakteEnable" value="true" xdt:Transform="Replace"/>
    <add key="VkontakteId" value="5172594" xdt:Transform="Replace"/>
    <add key="VkontakteSecret" value="s9A0IVjNjUUUoKf9TYaG" xdt:Transform="Replace"/>
    <add key="VkontakteOptions" value="offline,email" xdt:Transform="Replace"/>
    <!--Vkontakte settings end-->
    
    <!--Steam settings start-->
    <add key="SteamEnable" value="true"  xdt:Transform="False"/>
    <add key="SteamApiKey" value="D04C1B112E9A40919A609D8EFCE8B142"  xdt:Transform="Replace"/>
    <!--Steam settings end-->

    <!--Wargaming settings start-->
    <add key="WargamingEnable" value="true" />
    <add key="WargamingApiID" value="e84bbfe8ac0a5d33cbff2f7a1fd7ff71" />
    <!--Wargaming settings end-->
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>