<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>
	<connectionStrings>
		<add name="DemConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=uh376233_db; User ID=DemUser; Password=4252744;" />
	</connectionStrings>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target xsi:type="Database" name="dbTarget" connectionStringName="DemConnectionString" commandText="exec Log_Insert                                  @LogDate,                                 @CallSite,                                 @ExceptionType,                                 @ExceptionMessage,                                 @StackTrace,                                 @InnerExeption,                                 @Message,                                 @LogLevel                                 ">
				<parameter name="@LogDate" layout="${date}" />
				<parameter name="@CallSite" layout="${callsite}" />
				<parameter name="@ExceptionType" layout="${exception:format=Type}" />
				<parameter name="@ExceptionMessage" layout="${exception:format=Message}" />
				<parameter name="@StackTrace" layout="${exception:format=StackTrace}" />
				<parameter name="@InnerExeption" layout="${exception:method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}" />
				<parameter name="@Message" layout="${message}" />
				<parameter name="@LogLevel" layout="${level:uppercase=true}" />
			</target>
		</targets>
		<rules>
			<logger name="*" minlevel="Trace" writeTo="dbTarget" />
		</rules>
	</nlog>
	<appSettings>
		<add key="reCaptchaPublicKey" value="6LendRITAAAAAI2coYI3iMkNdvh6Hjkj5xxq_F3C" />
		<add key="reCaptchaPrivateKey" value="6LendRITAAAAAOKTObnWyqpzBxvq39flxJy8OGy4" />
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<!--email settings start-->
		<add key="mailAccountDisplayName" value="Botty - DeusExMachina Support" />
		<add key="mailAccount" value="support@dem.org.ua" />
		<add key="mailPassword" value="rolf11lololol" />
		<add key="host" value="mail.dem.org.ua" />
		<add key="port" value="2525" />
		<add key="enableSsl" value="false" />
		<!--email settings end-->
		<!--Twitter settings start-->
		<add key="TwitterEnable" value="false" />
		<add key="TwitterConsumerKey" value="BShp3AEVYjk0jqheflkVgb6ks" />
		<add key="TwitterConsumerSecret" value="htpRrI3kZ3b6XeBYuHpvJcWNdmVgHKq7Hi3deYiyuxqz9amutB" />
		<!--Twitter settings end-->

		<!--Facebook settings start-->
		<add key="FacebookEnable" value="true" />
		<add key="FacebookId" value="1485202508455441" />
		<add key="FacebookSecret" value="1626c949c1be3e0e13c23c9ea9ab42c5" />
		<add key="UserInformationEndpoint" value="https://graph.facebook.com/v2.4/me?fields=name,email" />
		<!--Facebook settings end-->

		<!--Google settings start-->
		<add key="GoogleEnable" value="true" />
		<add key="GoogleClientId" value="383782677897-n8jsk65idgso5fek0994eco32avsvp66.apps.googleusercontent.com" />
		<add key="GoogleClientSecret" value="GZLOp-xZBSmWiaHlnFFvkzjL" />
		<add key="GoogleCallbackPath" value="/Manage/LinkLoginCallback/" />
		<!--Google settings end-->

		<!--Vkontakte settings start-->
		<add key="VkontakteEnable" value="true" />
		<add key="VkontakteId" value="5110893" />
		<add key="VkontakteSecret" value="qSKFTkMQgkEKXE8rL5R5" />
		<add key="VkontakteOptions" value="offline,email" />
		<!--Vkontakte settings end-->

		<!--Steam settings start-->
		<add key="SteamEnable" value="false" />
		<add key="SteamApiKey" value="D04C1B112E9A40919A609D8EFCE8B142" />
		<!--Steam settings end-->

		<!--Wargaming settings start-->
		<add key="WargamingEnable" value="true" />
		<add key="WargamingApiID" value="661bcb42e8b0413071c5a00b5fc5eaa7" />
		<!--Wargaming settings end-->

		<!--Microsoft settings start-->
		<add key="MicrosoftEnable" value="false" />
		<add key="MicrosoftClientId" value="xxxxxxxxxxx" />
		<add key="MicrosoftClientSecret" value="xxxxxxxxxxxxxxxxxxxx" />
		<!--https://account.live.com/developers/applications/index-->
		<!--Microsoft settings end-->
	</appSettings>
	<system.web>
		<machineKey validationKey="2C8664D566E78E90AAACB2FA1C6E265A76C5D462489983FA572A8945E768F7DA5D49202F969E69A7615ED0CF0B7DCC928BE026DBFB67F0123BB12B91B6EF16E4" decryptionKey="4A5F67FE99130A0305B6B87F159DED5CDA8A909B99108CDFEAA98530386A0E51" validation="SHA1" decryption="AES" />
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
		<customErrors mode="On">
			<error statusCode="401" redirect="~/ErrorPages/401.shtml" />
			<error statusCode="402" redirect="~/ErrorPages/402.shtml" />
			<error statusCode="403" redirect="~/ErrorPages/403.shtml" />
			<error statusCode="404" redirect="~/ErrorPages/404.shtml" />
			<error statusCode="500" redirect="~/ErrorPages/500.shtml" />
		</customErrors>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<rewrite>
			<rules>
				<!--Redirect selected traffic to index -->
				<rule name="Index Rule" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_URI}" matchType="Pattern" pattern="^/api/" negate="true" />
					</conditions>
					<action type="Rewrite" url="/wwwroot/dist/index.html" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>