@import "sizes.scss";
@import "image-backgrounds.scss";

.socialMediaLink{
  height: $socialMediaLinkHeightWeight;
  margin: 0 $socialMediaLinkMargingLeftRight;
  width: $socialMediaLinkHeightWeight;
  svg {
    opacity: 0.4;
  }
}

.socialMediaLink:last-child{
  margin-right: $socialMediaLinkLastChildMargingRight;
}
