<div style="display: none">
    <div id="dialog" title="Сайт в разработке">
        <p>Сайт находится в разработке.</p>
        <p>Однако уже реализованы регистрация, аутентификация и отправка сообщений.</p>
        <p>Для отправки сообщений необходимо восстановить свой пароль для доступа к старому аккаунту (РЕКОМЕНДУЕТСЯ) или зарегистрировать новый аккаунт.</p>
        <p>Так же всё ещё можно использовать Чат для общения без регистрации - @Html.ActionLink("чат", "Chat", "Forum").</p>
        <p>В данный момент невозможно создавать новые темы, можно только писать в старые. Если вы хотите создать новую тему - пишите в Чат в Личные Сообщения пользователю ktodem, он рассмотрит ваше предложение.</p>
        <p>На форуме всё так же работают правила сайта:</p>
        <p>@Html.ActionLink("Правила сайта", "ViewTopic", "Forum", new { topicId = 31 }, null)</p>
        <p>Так же обратитве внимание на:</p>
        <p>@Html.ActionLink("Каталог файлов", "ViewForum", "Forum", new { forumId = 68 }, null)</p>
    </div>
</div>


<script>
    function openSiteUnderCostructionPopUp() {
        $("#dialog").dialog({
            modal: true,
            buttons: {
                "Продолжить просмотр": function () {
                    $(this).dialog("close");
                }
            }
        });
    };
    document.addEventListener("DOMContentLoaded", function (event) {
        var CookiesService = new CookiesService();

        var visited = CookiesService.getCookie('showedSiteUnderCostructionPopUp');
        if (visited !== 'yes') {
            var optionsDictionary = new Dictionary();
            optionsDictionary.add("expires", 86400);
            CookiesService.setCookie('showedSiteUnderCostructionPopUp', 'yes', optionsDictionary);
            openSiteUnderCostructionPopUp();
        };
    });
</script>