@import "common.scss";
@import "colors.scss";
@import "sizes.scss";

.navigationLinksArray {
  background-color: $navigationLinksArrayBackgroundColor;
  list-style-type: none;
  margin: initial;
  padding: initial;
}

//md and smaller screens
@media ($md-max) {
  .navigationLinksArray  {
    display: flex;
    flex-flow: column;
    width: 100%;
  }
}

//lg and bigger screens
@media ($lg-min) {
  .navigationLinksArray {
    background-color: initial;
    margin-left: auto;
    padding-right: $navigationLinksArrayPaddingRight;
  }
}
