@import "colors.scss";
@import "sizes.scss";
@import "image-backgrounds.scss";

.footerContainer {
  padding-top: $content-holder-container-and-footer-padding-top;
}

.footer {
  background-color: $footer-background-color;
  height: $footer-height-md-down;
  color: $footer-text-color;
}

.footerCopyrightWrapper{
  flex: 1 0 0;
  align-items: center;
}

.footerEmptyWrapper,
.footerSocialMediaLinkWrapper {
  flex: 2 0 0;
}

//lg and bigger screens
@media (min-width: 992px) {
  .footer {
    height: $footer-height-lg-up;
    background-image: $footer-background-lg;
  }
}

//xl and bigger screens
@media (min-width: 1200px) {
  .footer {
    background-image: $footer-background-xl;
  }
}
