@import "colors.scss";
@import "sizes.scss";
@import "image-backgrounds.scss";

.footer {
  margin-top: $footerMarginTop;
  background-color: $footerBackgroundColor;
  height: $footerHeightMdDown;
  color: $footerTextColor;
}

.footerCopyrightWrapper{
  flex: 1 0 0;
  align-items: center;
}

.footerEmptyWrapper,
.footerSocialMediaLinkWrapper {
  flex: 2 0 0;
}

//lg and bigger screens
@media (min-width: 992px) {
  .footer {
    height: $footerHeightLgUp;
    background-image: $footerBackgroundImageLg;
  }
}

//xl and bigger screens
@media (min-width: 1200px) {
  .footer {
    background-image: $footerBackgroundImageXl;
  }
}
