$min-xs: 0px;
$min-sm: 576px;
$min-md: 768px;
$min-lg: 992px;
$min-xl: 1200px;

$max-xs: 575px;
$max-sm: 767px;
$max-md: 991px;
$max-lg: 1199px;
$max-xl: 99999999px;

$col-width-1: 8.33333333%;
$col-width-2: 16.66666667%;
$col-width-3: 25%;
$col-width-4: 33.33333333%;
$col-width-5: 41.66666667%;
$col-width-6: 50%;
$col-width-7: 58.33333333%;
$col-width-8: 66.66666667%;
$col-width-9: 75%;;
$col-width-10: 83.33333333%;
$col-width-11: 91.66666667%;
$col-width-12: 100%;
