* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
    height: 100%;
}

body {
    background-color: #1B1B1B;
    height: 100%;
    margin: 0;
    font-size: 10px;
    font-family: Verdana,Helvetica,Arial,sans-serif;
    color: #f5f4f1;
}

#wrap {
    width: 1200px;
    background-color: #292929;
    -webkit-box-shadow: 0px 0px 15px #464646;
    -moz-box-shadow: 0px 0px 15px #464646;
    box-shadow: 0px 0px 15px #464646;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 20px 90px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

#header {
    background-image: url('Themes/DEM/Images/head.png');
    height: 231px;
    width: 1160px;
}

#headerMargin {
    height: 10px;
}

#footerWrap {
    width: 1200px;
    margin: 0 auto;
}

#footer {
    background-image: url('Themes/DEM/Images/footer.png');
    width: 1160px;
    margin: -86px auto 0;
    height: 86px;
}

.forumsContainer,
.topicsContainer {
    padding-top: 5px;
}

.forumsCategory,
.topicsCategory {
    background-color: #f17c1c;
    border: 2px solid #939393;
    color: #ffffff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000000;
    text-transform: uppercase;
    display: table;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    .forumsCategory > div,
    .forumsCategoryBody > .forum > div,
    .topicsCategory > div,
    .topicsCategoryBody > .topic > div {
        display: table-cell;
        vertical-align: middle;
    }

.forumsCategoryName,
.topicsCategoryName {
    width: 635px;
    padding-left: 10px;
}

.forumsCategoryTopics, .forumsCategoryPosts,
.topicsCategoryPosts, .topicsCategoryViews {
    width: 98px;
    text-align: center;
}

.forumsCategoryLastPost,
.topicsCategoryLastPost {
    width: 311px;
    text-align: center;
}

.forumsCategoryBody,
.topicsCategoryBody {
    background-color: #565656;
    display: table;
    width: 100%;
}

    .forumsCategoryBody > .forum,
    .topicsCategoryBody > .topic {
        border-bottom: 1px solid #939393;
        border-left: 2px solid #939393;
        border-right: 2px solid #939393;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        .forumsCategoryBody > .forum > div,
        .topicsCategoryBody > .topic > div {
            border-left: 1px solid #969696;
            font-size: 1.2em;
            line-height: 2.2em;
        }

a:link, a:visited {
    color: #fbeab2;
    text-decoration: none;
}

    a:link:hover {
        color: #fffae8;
        text-decoration: underline;
    }

.nonDecoration:link, .nonDecoration:link > span,
.nonDecoration:visited, .nonDecoration:visited > span,
.nonDecoration:hover, .nonDecoration:hover > span {
    text-decoration: none !important;
}

.demNavigationBtn {
    margin: 0 2px;
    padding: 0 2px;
}

    .demNavigationBtn > .ui-button-text {
        padding: 0;
    }

.demNavigationSpan {
    margin: 0 2px;
    padding: 0 2px;
}


.topic-actions {
    margin: 5px 0;
}

.forum-actions {
    margin: 5px 0 0 0;
}

.topic-actions-buttons,
.forum-actions-buttons {
    float: left;
}

.topic-actions-paging,
.forum-actions-paging {
    float: right;
}


.forumsCategory .forumsCategoryName a:link,
.forumsCategory .forumsCategoryName a:visited,
.topicsCategory .topicsCategoryName a:link,
.topicsCategory .topicsCategoryName a:visited {
    color: #ffffff;
}

.ui-poll-common-color {
    background: #cccccc url("Themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50%;
}

.ui-poll-result-color {
    background: #f1831f url("Themes/DEM/Images/ui-poll-result-f1831f_1x100.png") repeat-x scroll 50% 50%;
    height: 2em;
    line-height: 2em;
    text-align: right;
    padding-right: 8px;
}

.ui-pollOptional-total {
    color: #ffffff;
    padding-right: 2px;
}

.pollContainer {
    background-color: #4c4c4c;
    -webkit-box-shadow: 0px 0px 15px #121212;
    -moz-box-shadow: 0px 0px 15px #121212;
    box-shadow: 0px 0px 15px #121212;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 5px 0;
    padding: 5px;
}

.pollTitle {
    color: #ffffff;
    font-size: 1.8em;
}

.pollMaxOptionsDescription, .pollTotalVoted {
    color: #ffffff;
    font-size: 1em;
    padding: 5px;
}

.pollOptionsConteiner {
    margin: 10px;
    -webkit-box-shadow: 0px 0px 15px #121212;
    -moz-box-shadow: 0px 0px 15px #121212;
    box-shadow: 0px 0px 15px #121212;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pollOptionRow {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
}

.rowColor1 {
    background: #5c5c5c url("Themes/DEM/Images/ui-poll-5c5c5c_1x100.png") repeat-x scroll 50% 50%;
}

.rowColor2 {
    background: #6c6c6c url("Themes/DEM/Images/ui-poll-6c6c6c_1x100.png") repeat-x scroll 50% 50%;
}

.pollOptionColumn {
    display: table-cell;
}

.pollOptionTotalPercent {
    width: 5%;
}

.pollOptionInput {
    width: 2%;
    height: 100%;
    vertical-align: middle;
}

.pollOptionText {
    width: 30%;
    font-size: 1.1em;
}

.divCenter {
    text-align: center;
}

div.clear {
    clear: both;
}

.postShadow {
    -webkit-box-shadow: 0px 0px 15px #121212;
    -moz-box-shadow: 0px 0px 15px #121212;
    box-shadow: 0px 0px 15px #121212;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.post {
    margin: 5px 0;
    padding: 5px;
}

.postBody {
    width: 1150px;
    float: left;
}

.postTextAndSignature {
    width: 390px;
    float: left;
}

.postUserInfo {
    background-color: #4c4c4c;
    width: 200px;
    margin: 10px;
    padding: 15px;
    float: left;
}

.postText {
    background-color: #4c4c4c;
    margin: 10px 10px 10px 5px;
    padding: 15px;
    width: 915px;
}

.postUserSignature {
    background-color: #4c4c4c;
    margin: 10px 10px 10px 5px;
    padding: 15px;
    width: 915px;
}

.postTextAndSignature img {
    max-width: 100%;
    width: auto !important;
    width: 100%;
}

.avatarImageSize {
    max-width: 150px;
    max-height: 150px;
}

.postColor1 {
    background: #505050; /*url("Themes/DEM/Images/ui-poll-5c5c5c_1x100.png") repeat scroll 50% 50%;*/ /*todo*/
}

.postColor2 {
    background: #606060; /*url("Themes/DEM/Images/ui-poll-6c6c6c_1x100.png") repeat scroll 50% 50%;*/ /*todo*/
}

.userName {
    font-size: 1.1em;
    font-weight: bold;
}

/*.postUserInfo > div {
    margin: 5px;
}*/

.UserAvatar {
    margin: 5px 0;
}

blockquote {
    background: #8d8782 none no-repeat scroll 10px 7px;
    background-image: url("data:image/gif;base64,R0lGODlhDwAMALMPAHBwbj8/P62sqaGgnYiIht7d2FhXVnx8ektLS8XFwWRkYrm4tdLRzJWUkTMzM+rp5CH5BAEAAA8ALAAAAAAPAAwAAARG8MlJK12GUaYSFY6jTEngIIWUhIj2MGawTEjoPko4SwNLhg4KACiQNICNSQ6oOQAdu2Vo8CA8k48jcAZCToYOwkQLsJgpEQA7");
    border: 1px solid #d8d8d8;
    font-size: 0.95em;
    margin: 0.5em 1px 0 25px;
    overflow: hidden;
    padding: 10px;
}

.quoteAutor {
    bottom: 3px;
    padding-left: 20px;
    position: relative;
}



dl.codebox {
    background-color: #4e4741;
    border: 1px solid #d8d8d8;
    font-size: 1em;
    margin: 0.25em 0;
    padding: 3px;
}

    dl.codebox code {
        color: #ffa100;
        display: block;
        font: 0.9em/1.3em "Courier New",Courier,monospace;
        height: auto;
        margin: 2px 0;
        max-height: 200px;
        overflow: auto;
        padding-top: 5px;
        white-space: normal;
    }

    dl.codebox dt {
        border-bottom: 1px solid #cccccc;
    }


dl.spoilerbox {
    background-color: #615952;
    border: 1px solid #d8d8d8;
    font-size: 1em;
    margin: 0.25em 0;
    padding: 3px;
}

    dl.spoilerbox > dt {
        color: #fbeab2;
        cursor: pointer;
        display: block;
        font-size: 0.9em;
        line-height: 0.9em;
        padding: 4px 5px 4px 18px;
        width: auto;
    }

    dl.spoilerbox.spoilerbox-on > dd {
        display: block;
    }

    dl.spoilerbox > dd {
        border-top: 1px solid #cccccc;
        display: none;
        margin-top: 3px;
        padding: 3px 3px 0;
    }


.topicsCategoryNameDescription {
    float: left;
}

.topicsCategoryNameDescriptionPaging {
    float: right;
    font-size: 0.9em;
}




#main-menu {
    background-color: #464646;
    border: 2px solid #969696;
    height: 30px;
}

    #main-menu, #main-menu ul {
        font: 11px Arial,Verdana,Helvetica,sans-serif;
        font-weight: bold;
        list-style: outside none none;
        position: relative;
        /*z-index: 200;*/
        z-index: 100;
    }

        #main-menu li {
            border-right: 2px solid #969696;
        }

        #main-menu li {
            float: left;
        }

            #main-menu li.main-menu-pre-last-li {
                float: right;
                border-left: 2px solid #969696;
                border-right: 0 none;
            }

            #main-menu li.main-menu-last-li {
                float: right;
                border-left: 2px solid #969696;
                border-right: 0 none;
            }

            #main-menu li > a {
                background: #464646 none repeat scroll 0 0;
                border-color: transparent;
                color: #fbeab2;
                text-decoration: none;
            }

            #main-menu li a {
                border: 1px solid transparent;
                /*height: 21px;*/
                line-height: 22px;
                margin: 1px 1px 1px 0;
                padding: 0 10px 0 11px;
            }

            #main-menu li a {
                display: block;
                float: left;
                white-space: nowrap;
            }

#back-to-top.tower {
    background-position: center 15px;
    bottom: 0;
    height: auto;
    margin: 0;
    padding: 15px;
}

#back-to-top.on-left {
    left: 0;
}

#back-to-top {
    background: rgba(0, 0, 0, 0) url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAZlBMVEUAAACEiY2SmJ2epKmjqq+lrLGor7SosLWpsbaqsbaqsbeqsbeqsbeqsbeqsbeqsbeqsbeqsbeqsbeqsbeqsbeqsbeqsbeqsbersrettLm6wMTDyc3O09bZ3d/q6+3x8vP5+fr8/f1nT312AAAAF3RSTlMAGiEnNEFPYGpxeoeUnqm1vdLk7vP4+0kZka8AAACySURBVHgBddDxboYgDATwAx36qVPBQZ3TMd7/JbcQSpDM359ccyVFIl+rJqeXXqLUvBOzUxEpS4VNIXnRnevSPNXcW1zLPYVNAMh7SyPQOGLXRcxKDMSOEL6I9Vgp2X0I/pOSGSYXhT+5TMPmoujgf3Gwf4fI7xQZrjpDcnLVQpHn4IeXD/SvvroI+xDA9HASyO3hiFCOKrZF1FWJVUjUrc20yMRk8/goUBLdrI3Rs+LnX+9DKZ4DVjilAAAAAElFTkSuQmCC") no-repeat scroll 0 0;
    cursor: pointer;
    display: none;
    height: 24px;
    margin: 15px;
    opacity: 0.6;
    padding: 0;
    position: fixed;
    top: 0;
    width: 24px;
    z-index: 10;
}

#PostBody {
    color: #000000;
    background-color: #cccbc6;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
    width: 100%;
    resize: vertical;
}

#PostTitle {
    color: #000000;
    background-color: #cccbc6;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
    width: 100%;
}
