@import "sizes.scss";
@import "colors.scss";

.breadcrumbItem {
  max-width: 24%;
  min-width: 4%;

  .breadcrumbItemArrow {
    background: $breadcrumbItemBackgroundColor;
    display: block;
    font-size: $breadcrumbItemArrowFontSize;
    font-weight: bold;
    height: $breadcrumbItemArrowHeight;
    line-height: $breadcrumbItemArrowLineHeight;
    margin-right: $breadcrumbItemArrowPaddingMarginRight;
    padding-left: $breadcrumbItemArrowPaddingLeft;
    padding-right: $breadcrumbItemArrowPaddingMarginRight;
    position: relative;
    text-align: center;
    text-decoration: none;

    div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .breadcrumbItemArrow:after,
  .breadcrumbItemArrow:before {
    border-bottom: $breadcrumbItemArrowHeight/2 solid transparent;
    border-top: $breadcrumbItemArrowHeight/2 solid transparent;
    content: "";
    position: absolute;
    top: 0;
  }

  .breadcrumbItemArrow:after {
    border-left: $breadcrumbItemArrowHeight/2 solid $breadcrumbItemBackgroundColor;
    right: -$breadcrumbItemArrowHeight/2;
    z-index: 1;
  }

  .breadcrumbItemArrow:before {
    border-left: $breadcrumbItemArrowHeight/2 solid $breadcrumbBackgroundColor;
    left: 0;
  }

  .breadcrumbItemArrow:hover,
  &.breadcrumbItemActive .breadcrumbItemArrow {
    background: $breadcrumbItemBackgroundColorHovered;
  }

  &.breadcrumbItemActive .breadcrumbItemArrow:after,
  .breadcrumbItemArrow:hover:after  {
    border-left-color: $breadcrumbItemBackgroundColorHovered;
  }

  &.breadcrumbItemActive .breadcrumbItemArrow,
  &.breadcrumbItemIgnored .breadcrumbItemArrow{
    cursor: default;
    pointer-events: none;
  }


  &.breadcrumbItemIgnored .breadcrumbItemArrow:hover {
    background: $breadcrumbItemBackgroundColor;
  }

  &.breadcrumbItemIgnored .breadcrumbItemArrow:after,
  &.breadcrumbItemIgnored .breadcrumbItemArrow:hover:after  {
    border-left-color: $breadcrumbItemBackgroundColor;
  }
}

.breadcrumbItem:first-child{
  .breadcrumbItemArrow{
    padding-left: $breadcrumbItemArrowHeight/2;
  }
  .breadcrumbItemArrow:before {
    display: none;
  }
}

.breadcrumbItem:last-child{
  .breadcrumbItemArrow {
    padding-right: $breadcrumbItemArrowHeight/2;
  }

  .breadcrumbItemArrow:after {
    display: none;
  }
}
