$link: #cbc065;
$link-hovered: #fff495;
$menu-button-background-color: #252525;
$orange-text-color: #ac6b37;
$header-background-color: #322c27;
$body-background-color: #171717;
$footer-background-color: #3e3025;
$footer-content-color: #cfb095;
$category-container-heder-color: #564b41;
$category-body-color: #7b736b;
$category-body-text-gray-color: #48423d;
$forum-container-separator-color: #b0a491;