$link: #cbc065;
$link-hovered: #fff495;
$body-background-color: #171717;
$header-background-color: #322c27;
$orange-text-color: #ac6b37;
$menu-button-background-color: #252525;
$chapter-header-color: #564b41;
$forum-container-separator-background-color: #b0a491;
