$link: #cbc065;
$link-hovered: #fff495;
$body-background-color: #171717;
$header-background-color: #322c27;
$footer-background-color: #3e3025;
$footer-text-color: #cfb095;
$orange-text-color: #ac6b37;
$orange-bright-text-color: #e4991c;
$menu-button-background-color: #252525;
$content-holder-header-color: #564b41;
$forum-sub-forum-topic-container-separator-background-color: #9c877c;
$breadcrumb-background-color-hovered: $content-holder-header-color;
$breadcrumb-background-color: #5d5956;
$breadcrumb-border-color: $header-background-color;
