.flex {
  display: flex;
}

.flex-column-vertical-center {
  flex-direction: column;
  justify-content: center;
}

.flex-row {
  flex-direction: row;
}

.flex-row-vertical-center {
  flex-direction: row;
  align-items: center;
}

//lg and bigger screens
@media (min-width: 992px) {
  .flex-column-vertical-center-lg-up {
    flex-direction: column;
    justify-content: center;
  }
}
