$font-size: 16px; //1rem = 16px

$header-xs-sm-logo-navmenu-height: 2.3125rem;
$header-xs-sm-logo-navmenu-width: 9.0625rem;
$header-md-logo-navmenu-height: 2.8125rem;
$header-md-logo-navmenu-width: 10.9375rem;
$header-lg-logo-navmenu-height: 4.0625rem;
$header-lg-logo-navmenu-width: 15.9375rem;
$navbar-logo-padding-left: 0.9375rem;

$navbar-height-and-page-content-margin-top-xs-sm: 3.4375rem;
$navbar-height-and-page-content-margin-top-md: 3.75rem;
$navbar-height-and-page-content-margin-top-lg: 5rem;
$navbar-padding-right: 0.9375rem;

$nav-link-font-size: 1.3125rem;
$nav-link-separator-height: 0.1875rem;
$nav-link-padding-left-right: 0.5rem;

$navigation-toggler-button-padding: 0.5rem;
$navigation-toggler-button-container-padding-right: 0.9375rem;
$navigation-toggler-button-icon-bar-width: 2rem;
$navigation-toggler-button-icon-bar-height: 0.1875rem;
$navigation-toggler-button-icon-bar-border-radius: 0.0625rem;
$navigation-toggler-button-icon-bar-second-and-more: 0.25rem;

$chapter-container-padding-top: 0.3125rem;
$chapter-header-height: 2.5rem;
$chapter-header-font-size: 1.25rem;
$chapter-header-title-padding-horizontal: 0.9375rem;
$icon-arrow-left-chapter-title: 1.2rem;

$forums-container-padding-top-bottom: 0.46875rem;
$forums-container-padding-left-right: 0.9375rem;

$forum-container-separator-height: 0.1875rem;
$forum-container-separator-margin-top-bottom: 0.3rem;
$forum-container-separator-margin-left-right: 0;
$forum-topics-posts-counter-padding-right: 0.46875rem;
$forum-title-font-size: 1.3125rem;
$forum-description-topics-posts-counter-last-message-font-size: 0.8rem;
