$font-size: 16px; //1rem = 16px

$navbar-height-and-pageContent-margin-top-xs-sm: 3.4375rem;
$navbar-height-and-pageContent-margin-top-md: 3.75rem;
$navbar-height-and-pageContent-margin-top-lg: 5rem;
