$font-size: 16px; //1rem = 16px

$navbar-height-and-pageContent-margin-top-xs-sm: 3.4375rem;
$navbar-height-and-pageContent-margin-top-md: 3.75rem;
$navbar-height-and-pageContent-margin-top-lg: 5rem;

$header-xs-sm-logo-navmenu-height: 2.3125rem;
$header-xs-sm-logo-navmenu-width: 9.0625rem;
$header-md-logo-navmenu-height: 2.8125rem;
$header-md-logo-navmenu-width: 10.9375rem;
$header-lg-logo-navmenu-height: 4.0625rem;
$header-lg-logo-navmenu-width: 15.9375rem;
$navbar-logo-padding-left: 0.9375rem;
