$font-size: 16px; //1rem = 16px
$body-min-width: 290px;

$body-font-size: 1rem;
$body-line-height: 1.5;
$page-content-padding-top-xs-sm: 3.4375rem;
$page-content-padding-top-md:  3.75rem;
$page-content-padding-top-lg-xl: 5rem;

$header-xs-sm-logo-navmenu-height: 2.3125rem;
$header-xs-sm-logo-navmenu-width: 9.0625rem;
$header-md-logo-navmenu-height: 2.8125rem;
$header-md-logo-navmenu-width: 10.9375rem;
$header-lg-logo-navmenu-height: 4.0625rem;
$header-lg-logo-navmenu-width: 15.9375rem;
$navbar-logo-padding-left: 0.9375rem;

$header-height-and-page-content-margin-top-xs-sm: 3.4375rem;
$header-height-and-page-content-margin-top-md: 3.75rem;
$header-height-and-page-content-margin-top-lg: 5rem;
$navbar-padding-right: 0.9375rem;

$nav-link-font-size: 1.3125rem;
$nav-link-separator-height: 0.1875rem;
$nav-link-padding-left-right: 0.5rem;

$navigation-toggler-button-padding: 0.5rem;
$navigation-toggler-button-container-padding-right: 0.9375rem;
$navigation-toggler-button-icon-bar-width: 2rem;
$navigation-toggler-button-icon-bar-height: 0.1875rem;
$navigation-toggler-button-icon-bar-border-radius: 0.0625rem;
$navigation-toggler-button-icon-bar-second-and-more: 0.25rem;

$footer-height-md-down: 1.875rem;
$footer-height-lg-up: 2.5rem;

$collapsible-wrapper-container-and-footer-padding-top: 0.3125rem;
$collapsible-wrapper-header-height: 2.5rem;
$collapsible-wrapper-header-font-size: 1.25rem;
$collapsible-wrapper-header-title-padding-horizontal: 0.9375rem;
$icon-arrow-left-collapsible-wrapper-title: 1.2rem;

$forums-container-padding-top-bottom: 0.46875rem;
$forums-container-padding-left-right: 0.9375rem;

$forum-container-separator-height: 0.125rem;
$forum-container-separator-margin-top-bottom: 0.3rem;
$forum-container-separator-margin-left-right: 0;
$forum-topics-posts-counter-padding-right: 0.46875rem;
$forum-title-font-size: 1.3125rem;
$forum-description-topics-posts-counter-last-message-font-size: 0.8rem;

$sub-forum-link-font-size: 1rem;
$sub-forum-link-line-height: 1.3;
$sub-forum-list-container-padding-size: 0.625rem;

$sub-forum-icon-right-angle-height-weight: 1.3125rem;
$sub-forum-icon-right-angle-margin-top: -0.48046875rem;

$social-media-link-height-weight: 2rem;
$social-media-link-marging-left-right: 0.125rem;
$social-media-link-last-child-marging-right: 0.25rem;
