@import "../Common/sizes.scss";
@import "../Common/colors.scss";
@import "../Common/image-backgrounds.scss";

#wrap {
	margin: 0 auto -1*$footer-height-xs-sm-md;
}

.navbar-footer-style {
	background-color: $footer-background-color;
	height: $footer-height-xs-sm-md;

	.footer-content {
		color: $footer-content-color;
		text-align: center;
	}

	.footer-links-holder {
		display: none;
	}
}

@media (min-width: 992px) {
	.navbar-footer-style {
		height: $footer-height-lg-xl;
		background-image: $footer-background-lg;

		.footer-links-holder {
			position: absolute;
			right: 0%;
			top: 50%;
			transform: translateY(-50%);
			display: initial;
			padding-right: 0.46875rem;

			.footer-link {
				margin-left: 0.46875rem;

				.footer-link-img {
					opacity: 0.6;
					width: $footer-link-img-width-lg-xl;
					height: $footer-link-img-height-lg-xl;
					background-size: $footer-link-img-width-lg-xl $footer-link-img-height-lg-xl;
				}

				.footer-link-img-steam {
					background: $footer-link-image-steam-lg-xl;
				}

				.footer-link-img-vk {
					background: $footer-link-image-vk-lg-xl;
				}
			}
		}
	}

	#wrap {
		margin: 0 auto -1*$footer-height-lg-xl;
	}
}

@media (min-width: 1200px) {
	.navbar-footer-style {
		background-image: $footer-background-xl;
	}
}
