@import "../Common/sizes.scss";
@import "../Common/colors.scss";
@import "../Common/image-backgrounds.scss";

#pageContent {
	padding-top: $navbar-height-and-pageContent-margin-top-xs-sm;
}

//md+ screens
@media (min-width: 768px) {
	#pageContent {
		padding-top: $navbar-height-and-pageContent-margin-top-md;
	}
}

//lg+ screens
@media (min-width: 992px) {
	#pageContent {
		padding-top: $navbar-height-and-pageContent-margin-top-lg;
	}
}
