@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

@import "Common/sizes.scss";
@import "Common/colors.scss";
@import "Common/image-backgrounds.scss";

@import "Common/Styles/common.scss";
@import "Common/Styles/buttons.scss";

@import "Layout/header.scss";
@import "Layout/footer.scss";
@import "Layout/pageContent.scss";

@import "Conference/forum-container.scss";

$font-size: 16px; //1rem = 16px

html {
	font-size: $font-size;
}

body {
	background-color: $body-background-color;
	min-width: 320px;
	min-height: 480px;
}


html, body, #wrap {
	height: 100%;
}

#wrap {
	min-height: 100%;
}