@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

@import "Common/sizes.scss";
@import "Common/colors.scss";
@import "Common/image-backgrounds.scss";

html {
	font-size: $font-size;
}

body {
	background-color: $body-background-color;
	min-width: 320px;
	min-height: 480px;
}

a:link,
a:visited {
	color: $link;
	text-decoration: none;
}

a:link:hover {
	color: $link-hovered;
	text-decoration: underline;
}

html, body, #wrap {
	height: 100%;
}

#wrap {
	min-height: 100%;
}

@import "Common/Styles/common.scss";
@import "Common/Styles/buttons.scss";

@import "Shared/header.scss";
@import "Shared/pageContent.scss";
@import "Shared/footer.scss";

@import "Conference/categories-container.scss";
@import "Conference/forums-container.scss";