@mixin float($breakpoint, $way, $floatParamList) {
	@each $param in $floatParamList {
		.float-#{$param}-#{$breakpoint}#{$way} {
			float: $param;
		}
	}
}

@mixin padding($breakpoint, $way, $paddingValueParamList, $paddingNamesParamList) {
	@each $value in $paddingValueParamList {
		@each $name in $paddingNamesParamList {
			.padding-#{$name}-#{$value}-#{$breakpoint}#{$way} {
				padding-#{$name}: $value;
			}
		}

		.padding-#{$value}-#{$breakpoint}#{$way} {
			padding: $value;
		}
	}
}

@mixin common-bundle($breakpoint, $way) {
	.full-width-container-#{$breakpoint}#{$way} {
		width: 100%;
	}

	.full-height-container-#{$breakpoint}#{$way} {
		height: 100%;
	}

	@include padding($breakpoint, $way, (inherit, initial), (bottom, left, right, top));

	.vertical-center-container-#{$breakpoint}#{$way} {
		min-height: 100%;
		display: flex;
		align-items: center;
	}

	.display-table-#{$breakpoint}#{$way} {
		display: table;
		width: 100%;
	}

	.display-table-cell-vertical-center-#{$breakpoint}#{$way} {
		display: table-cell;
		vertical-align: middle;
	}

	.in-one-row-container-#{$breakpoint}#{$way} {
		display: flex;
		flex-flow: row wrap;
	}

	@include float($breakpoint, $way, (inherit, initial, left, right, none));
}

@each $breakpoint, $size-min, $size-max in $grid-breakpoints-min-max {

	@media (min-width: $size-min) and (max-width: $size-max) {
		@include common-bundle($breakpoint, "-only");
	}

	@media (min-width: $size-min) {
		@include common-bundle($breakpoint, "-up");
	}

	@if $breakpoint != 'xl' {
		@media (max-width: $size-max) {
			@include common-bundle($breakpoint, "-down");
		}
	}
	@else {
		@include common-bundle($breakpoint, "-down");
	}
}
