{
  "presets": [
    "react",
    "stage-1",
    ["es2015", { "modules": false }]
  ],
  "plugins": [
    "transform-class-properties",
    ["module-resolver", {
      "root": ["./src/scripts"],
      "alias": {
        "pages": "./src/scripts/containers/pages",
        "icons": "./src/scripts/components/icons",
        "bbCodes": "./src/scripts/components/bbCodes",
        "testHelpers": "./testHelpers",
        "scss": "./src/scss",
        "images": "./src/images"
      }
    }]
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-react-router-optimize",
        "lodash"
      ]
    }
  }
}
