{
  "presets": [
    "react",
    "stage-1",
    ["es2015", { "modules": false, "loose": true }]
  ],
  "plugins": [
    "transform-class-properties",
    ["module-resolver", {
      "root": ["./src/scripts"],
      "alias": {
        "icons": "./src/scripts/oldComponents/icons",
        "bbCodes": "./src/scripts/oldComponents/bbCodes",
        "pages": "./src/scripts/containers/pages",
        "testHelpers": "./testHelpers",
        "scss": "./src/scss",
        "commonScss": "./src/scripts/_commonScss",
        "DemUi": "./src/scripts/components/DemUi",
        "Atoms": "./src/scripts/components/Atoms",
        "Molecules": "./src/scripts/components/Molecules",
        "Organisms": "./src/scripts/components/Organisms",
        "Templates": "./src/scripts/components/Templates"
      }
    }]
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-react-router-optimize",
        "lodash"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "transform-runtime"
      ]
    }
  }
}
