<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link type="text/css" rel="stylesheet" href="~/wwwroot/dist/styles/dem.min.css" />
</head>
<body>
	<div id="header" class="container">
		<div class="row">
			<div class="col-xs-12">
				<nav class="navbar navbar-full navbar-dark bg-dem-brown-sm">
					<a class="navbar-brand padding-initial" href="#">
						<img src="../../wwwroot/dist/images/DEM/Dem_Logo_SM.png" alt="DeusExMachina logo small"/>
					</a>
					<ul class="nav navbar-nav pull-xs-right">
						<li class="nav-item">
							<a class="nav-link" href="#">Link 1</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Link 2</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Link 3</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>

	@RenderBody()
	<script src="~/wwwroot/dist/scripts/dem.min.js"></script>
</body>
</html>
