<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link type="text/css" rel="stylesheet" href="~/wwwroot/dist/styles/dem.min.css" />
</head>
<body>
	<div id="header" class="container">
		<div class="row">
			<div class="col-xs-12">
				<img class="hidden-md-up img-fluid center-block nonClicable" src="../../wwwroot/dist/images/DEM/xs_header.png" alt="Header">
				<img class="hidden-sm-down img-fluid center-block nonClicable" src="../../wwwroot/dist/images/DEM/md_header.png" style="pointer-events: none;" alt="Header">
			</div>
		</div>
	</div>

	@RenderBody()

	<div id="footer" class="row navbar-fixed-bottom">
		<div class="col-xs-12">
			<div class="container">
				<img class="hidden-sm-down img-fluid center-block nonClicable" src="../../wwwroot/dist/images/DEM/md_footer.png" style="pointer-events: none;" alt="Header">
			</div>
		</div>
	</div>
	<script src="~/wwwroot/dist/scripts/dem.min.js"></script>
</body>
</html>
