<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link type="text/css" rel="stylesheet" href="~/wwwroot/dist/styles/dem.min.css" />
</head>
<body>
	<div id="wrap">
		<div class="container navbar-fixed-top">
			<div class="row">
				<div class="col-xs-12">
					<nav id="header" class="navbar navbar-dark navbar-full padding-initial navbar-dem-logo-bg navbar-height">
						<div class="navbar-header col-xs-12 col-lg-6 vertical-center-container">
							<div class="full-width-container">
								<a class="navbar-brand navbar-brand-size padding-initial" href="#">
									<img class="navbar-logo" src="../../wwwroot/dist/images/DEM/header/Dem_Logo.png" alt="DeusExMachina logo" />
								</a>
								<!-- Toggle Button -->
								<button type="button" class="navbar-toggler hidden-lg-up pull-xs-right" id="menu-toggle-button" data-toggle="collapse" data-target="#nav-menu-content">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
						</div>
						<div class="col-xs-12 col-lg-6 padding-initial menu-holder vertical-center-container">
							<div class="full-width-container">
								<!-- Links -->
								<ul class="nav navbar-nav collapse navbar-toggleable-md" id="nav-menu-content">
									<li class="nav-item">
										<a class="nav-link" href="#">Link 1</a>
										<div class="nav-link-separator"></div>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Link 2</a>
										<div class="nav-link-separator"></div>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Link 3</a>
										<div class="nav-link-separator"></div>
									</li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<div id="pageContent">
			@RenderBody()
		</div>
	</div>

	<div id="footer" class="container">
		<div class="row">
			<div class="col-xs-12">
				<nav class="navbar padding-initial navbar-full navbar-footer-style">
					<div class="vertical-center-container">
						<div class="full-width-container">
							<div class="footer-content">
								DEM Team - 04.03.2007
							</div>
						</div>
						<div class="footer-content footer-links-holder">
							<a class="footer-link" href="#">
								<img class="footer-link-img" src="../../wwwroot/dist/images/DEM/footer/ico/footer-ico-steam.png" alt="DeusExMachina on Steam" />
							</a><a class="footer-link" href="#">
								<img class="footer-link-img" src="../../wwwroot/dist/images/DEM/footer/ico/footer-ico-vk.png" alt="DeusExMachina on VK.com" />
							</a>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
	<script src="~/wwwroot/dist/scripts/dem.min.js"></script>
</body>
</html>
