@import "common.scss";
@import "colors.scss";
@import "sizes.scss";
@import "image-backgrounds.scss";

.footer {
  background-color: $footerBackgroundColor;
  color: $footerTextColor;
  height: $footerHeightMdDown;
  margin-top: $footerMarginTop;
}

.footerCopyrightWrapper{
  align-items: center;
  flex: 1 0 0;
}

.footerEmptyWrapper,
.footerSocialMediaLinkWrapper {
  flex: 2 0 0;
}

//lg and bigger screens
@media ($lg-min) {
  .footer {
    background-image: $footerBackgroundImageLg;
    height: $footerHeightLgUp;
  }
}

//xl and bigger screens
@media ($xl-min) {
  .footer {
    background-image: $footerBackgroundImageXl;
  }
}
