@import "../Common/sizes.scss";
@import "../Common/colors.scss";
@import "../Common/image-backgrounds.scss";

nav {
	min-width: 290px;
	background-color: $header-background-color;
}

.navbar-height {
	height: $navbar-height-and-pageContent-margin-top-xs-sm;
}

//navbar toggler
.navbar-nav .nav-item {
	float: none;
}

.navbar-divider,
.navbar-nav .nav-item + .nav-item,
.navbar-nav .nav-link + .nav-link {
	margin-left: initial;
}

#nav-menu-content {
	background-color: $menu-button-background-color;

	.nav-item {
		.nav-link {
			padding-left: 0.5rem;
			padding-right: 0.5rem;
			color: $orange-text-color;
			font-size: $nav-link-font-size;
		}

		.nav-link-separator {
			background-color: $orange-text-color;
			height: 0.1875rem;
		}
	}
}
//end


.navbar-logo {
	width: $header-xs-sm-logo-navmenu-width;
	height: $header-xs-sm-logo-navmenu-height;
	background: $navbar-logo;
	background-size: $header-xs-sm-logo-navmenu-width $header-xs-sm-logo-navmenu-height;
}

.vertical-center-container-xs-up {
	&.menu-holder {
		min-height: initial;
	}
}

//md+ screens
@media (min-width: 768px) {

	.navbar-dem-logo-bg {
		background-image: $navbar-background-md;
	}

	.navbar-height {
		height: $navbar-height-and-pageContent-margin-top-md;
	}

	.navbar-logo {
		width: $header-md-logo-navmenu-width;
		height: $header-md-logo-navmenu-height;
		background-size: $header-md-logo-navmenu-width $header-md-logo-navmenu-height;
	}

	#menu-toggle-button {
		margin-top: .3rem;
	}
}

//lg+ screens
@media (min-width: 992px) {

	.vertical-center-container-xs-up {
		&.menu-holder {
			min-height: 100%;
			padding: 0 1rem;
		}
	}

	.navbar-dem-logo-bg {
		background-image: $navbar-background-lg;
	}

	.navbar-height {
		height: $navbar-height-and-pageContent-margin-top-lg;
	}

	.navbar-logo {
		width: $header-lg-logo-navmenu-width;
		height: $header-lg-logo-navmenu-height;
		background-size: $header-lg-logo-navmenu-width $header-lg-logo-navmenu-height;
	}

	#nav-menu-content {
		height: initial !important;
		float: right;
		background-color: initial;

		.nav-item {

			.nav-link {
				padding-left: initial;
				padding-right: initial;
			}

			.nav-link-separator {
				background-color: initial;
				width: initial;
				height: initial;
			}
		}
	}

	.navbar-nav .nav-item {
		float: left;
	}

	.navbar-divider,
	.navbar-nav .nav-item + .nav-item,
	.navbar-nav .nav-link + .nav-link {
		margin-left: 1rem;
	}

	.nav-shrink {
		height: $navbar-height-and-pageContent-margin-top-lg/2;

		.navbar-logo {
			width: $header-lg-logo-navmenu-width/2;
			height: $header-lg-logo-navmenu-height/2;
			background-size: $header-lg-logo-navmenu-width/2 $header-lg-logo-navmenu-height/2;
		}

		&.navbar-dem-logo-bg {
			background-position-y: 50%;
		}
	}
}

//xl screens
@media (min-width: 1200px) {
	.navbar-dem-logo-bg {
		background-image: $navbar-background-xl;
	}
}
