@import "../Common/colors.scss";
@import "../Common/sizes.scss";

.category-container {
	width: 100%;
	padding-top: 0.3125rem;

	.category-header {
		width: 100%;
		height: 2.5rem;
		background-color: $category-container-heder-color;
		color: $orange-text-color;
		font-size: $category-header-font-size;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	.category-body {
		width: 100%;
		background-color: $category-body-color;
		color: $category-body-text-gray-color;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
}
