@import "../Common/colors.scss";

.forum-container {
	width: 100%;
	padding-top: 0.3125rem;

	.forum-category-header {
		width: 100%;
		height: 2.5rem;
		background-color: $forum-container-heder-color;
		color: $orange-text-color;
		font-size: 1.3125rem;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		display: table;
		overflow: hidden;

		.forum-category-name {
			display: table-cell;
			vertical-align: middle;
		}
	}

	.forum-category-body {
		width: 100%;
		background-color: $forum-category-body-color;
		color: $forum-category-body-text-gray-color;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
}
