@import "../Common/sizes.scss";
@import "../Common/colors.scss";
@import "../Common/backgrounds.scss";

nav {
	min-width: 290px;
	background-color: $header-background-color;
}

.navbar-height {
	height: $navbar-height-and-pageContent-margin-top-xs-sm;
}

//navbar toggler
.navbar-nav .nav-item {
	float: none;
}

.navbar-divider,
.navbar-nav .nav-item + .nav-item,
.navbar-nav .nav-link + .nav-link {
	margin-left: 0;
}

#nav-menu-content {
	background-color: $menu-button-background-color;

	.nav-item {
		.nav-link {
			padding-left: 0.5rem;
			padding-right: 0.5rem;
			color: $orange-text-color;
			font-size: 1.3125rem;
		}

		.nav-link-separator {
			background-color: $orange-text-color;
			width: inherit;
			height: 0.1875rem;
		}
	}
}
//end

.navbar-header-add-navbar-padding {
	padding: .5rem 1rem;
}

.navbar-header {
	.navbar-brand-size {
		.navbar-logo {
			width: $header-xs-sm-logo-navmenu-width;
			height: $header-xs-sm-logo-navmenu-height;
		}
	}
}

.vertical-center {
	&.menu-holder {
		min-height: initial;
	}
}

//md+ screens
@media (min-width: 768px) {
	.navbar-dem-logo-bg {
		background-image: $navbar-background-md;
	}

	.navbar-height {
		height: $navbar-height-and-pageContent-margin-top-md;
	}

	.navbar-header {
		.navbar-brand-size {
			.navbar-logo {
				width: $header-md-logo-navmenu-width;
				height: $header-md-logo-navmenu-height;
			}
		}
	}

	#menu-toggle-button {
		margin-top: .3rem;
	}
}

//lg+ screens
@media (min-width: 992px) {

	.vertical-center {
		&.menu-holder {
			min-height: 100%;
			padding: 0 1rem;
		}
	}

	.navbar-dem-logo-bg {
		background-image: $navbar-background-lg;
	}

	.navbar-height {
		height: $navbar-height-and-pageContent-margin-top-lg;
	}

	.navbar-header {
		.navbar-brand-size {
			.navbar-logo {
				width: $header-lg-logo-navmenu-width;
				height: $header-lg-logo-navmenu-height;
			}
		}
	}

	#nav-menu-content {
		height: 100% !important;
		float: right;
		background-color: inherit;

		.nav-item {
			height: 100%;

			.nav-link {
				padding-left: initial;
				padding-right: initial;
			}

			.nav-link-separator {
				background-color: inherit;
				width: inherit;
				height: initial;
			}
		}
	}

	.navbar-nav .nav-item {
		float: left;
	}

	.navbar-divider,
	.navbar-nav .nav-item + .nav-item,
	.navbar-nav .nav-link + .nav-link {
		margin-left: 1rem;
	}

	.nav-shrink {
		height: $navbar-height-and-pageContent-margin-top-lg/2;

		.navbar-header-add-navbar-padding {
			padding: .25rem 1rem;
		}

		.navbar-header {
			.navbar-brand-size {
				.navbar-logo {
					width: $header-lg-logo-navmenu-width/2;
					height: $header-lg-logo-navmenu-height/2;
				}
			}
		}

		&.navbar-dem-logo-bg {
			background-position-y: 50%;
		}
	}
}

//xl screens
@media (min-width: 1200px) {
	.navbar-dem-logo-bg {
		background-image: $navbar-background-xl;
	}
}
