.full-width-container {
	width: 100%;
}

.padding-initial {
	padding: initial;
}

.vertical-center-container {
	min-height: 100%;
	display: flex;
	align-items: center;
}

.in-one-row-container {
	display: flex;
	flex-flow: row wrap;
}
