@using DEM_MVC.Services.HtmlHelpers
@model DEM_MVC_BL.Models.ForumModels.ForumInfoViewModel
@{
    ViewBag.Title = "ViewForum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.SubForumsCount > 0)
{
    @Html.Action("ShowForumTableById", "Forum")
}

@{
    var navigationBtnClasses = "ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only nonDecoration demNavigationBtn";
    var currentPageNavigationBtnClasses = "ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only nonDecoration demNavigationSpan ui-state-active";
}

@if (Model.TopicsCount > 0)
{
    <div class="forum-actions">
        <div class="forum-actions-buttons">
            New topic btn
        </div>
        <div class="forum-actions-paging">
            @Html.TopicPagingForViewForum(Model, "ViewForum", "Forum", new {@class = navigationBtnClasses}, new {@class = currentPageNavigationBtnClasses})
        </div>
        <div class="clear"></div>
    </div>

    @Html.Action("ShowTopicTableByForumId", "Forum")

    <div class="forum-actions">
        <div class="forum-actions-buttons">
            New topic btn
        </div>
        <div class="forum-actions-paging">
            @Html.TopicPagingForViewForum(Model, "ViewForum", "Forum", new {@class = navigationBtnClasses}, new {@class = currentPageNavigationBtnClasses})
        </div>
        <div class="clear"></div>
    </div>
}
else
{
    <div class="forum-actions">
        <div class="forum-actions-buttons">
            New topic btn
        </div>
        <div class="clear"></div>
    </div>
}