@import "sizes.scss";
@import "colors.scss";
@import "image-backgrounds.scss";

.postUserName{
  padding-left: $postUserNameRankPaddingLeft;
}

.postTime,
.postSubject{
  padding-left: $postUserNameRankPaddingLeft*2;
}

.postMessage{
  padding-left: $postUserNameRankPaddingLeft;
  width: 100%;
}

.postContainerWrapper:last-child {
  .postSeparator {
    display: none;
  }
}
