@import "colors.scss";
@import "sizes.scss";
@import "slideAnimation.scss";
@import "common.scss";


.contentHolderHeader {
  background-color: $contentHolderHeaderBackgroundColor;
  color: $orangeTextColor;
  height: $contentHolderHeaderHeight;
  padding: 0 $contentHolderHeaderTitlePaddingHorizontal;
  width: 100%;
}

.contentHolderHeaderTitle {
  font-size: $contentHolderHeaderFontSize;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: initial;
  a {
    color: $orangeTextColor;
  }
}

.iconArrowLeftHolder {
  display: none;
  margin-left: auto;
  .iconArrowLeft {
    height: $iconArrowLeftContentHolderTitle;
    margin: auto;
    width: $iconArrowLeftContentHolderTitle;
    path {
      fill: $orangeTextColor;
    }
  }
}

//md and smaller screens
@media ($md-max) {
  .iconArrowLeft {
    @include element-rotate-center-to-0;
  }

  .iconArrowLeftOpened {
    @include element-rotate-center-to--90;
  }
}

//md screens only
@media ($md-min) and ($md-max) {
  .iconArrowLeftHolder {
    display: flex;
  }
}
