@import "colors.scss";
@import "sizes.scss";
@import "slideAnimation.scss";
@import "common.scss";


.contentHolderHeader {
  width: 100%;
  height: $content-holder-header-height;
  background-color: $contentHolderHeaderBackgroundColor;
  color: $orangeTextColor;
}

.contentHolderHeaderTitleWrapper {
  padding: 0 $contentHolderHeaderTitlePaddingHorizontal;
}

.contentHolderHeaderTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: initial;
  font-size: $content-holder-header-font-size;
  a {
    color: $orangeTextColor;
  }
}

.contentHolderHeaderTitleInfoLabel {
  align-items: center;
}

.iconArrowLeftHolder {
  display: none;
  margin-left: auto;
  .iconArrowLeft {
    width: $icon-arrow-left-content-holder-title;
    height: $icon-arrow-left-content-holder-title;
    margin: auto;
    path {
      fill: $orangeTextColor;
    }
  }
}

//md and smaller screens
@media ($md-max) {
    .iconArrowLeft {
      @include element-rotate-center-to-0;
    }

    .iconArrowLeftOpened {
      @include element-rotate-center-to--90;
    }
}

//md screens only
@media ($md-min) and ($md-max) {
  .iconArrowLeftHolder {
    display: flex;
  }
}
