@import "sizes.scss";
@import "image-backgrounds.scss";

.userAvatarContainer{
  width: $userAvatarSize;
}

.userAvatar {
  height: $userAvatarSize;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.userAvatarDefault,
img {
  flex: 0 0 auto;
  max-width: 100%;
  max-height: 100%;
  align-self: center;
  -webkit-align-self: center;
  margin: auto;
  object-fit: scale-down;
}

.userAvatarDefault{
  background-image: $userAvatarDefault;
  min-width: 100%;
  min-height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
