@import "common.scss";
@import "colors.scss";
@import "sizes.scss";
@import "image-backgrounds.scss";
@import "slideAnimation.scss";

.headerNavigationBase {
  background-color: $headerBackgroundColor;
  padding: initial;
  height: $headerHeightXsSm;
  transition: $headerTransition;
}

.headerContainerFixOnTheTop {
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}



.headerLogoWrapper {
  flex: 1 0 0;
}

.headerLogoContainer {
  width: $headerLogoContainerWidthXsSm;
  height: $headerLogoContainerHeightXsSm;
  padding-left: $headerLogoContainerPaddingLeft;
  transition: $headerTransition;
}

//md and smaller screens
@media ($md-max) {
  .headerNavigationMenuButtomContainer {
    padding-right: $headerNavigationMenuButtomContainerPaddingRight;
  }

  .NavigationMenuLinksDefault  {
    width: 100%;
    display: flex;
    flex-flow: column;
    @include element-closed;
  }

  .NavigationMenuLinksOpened {
    @include element-opened;
  }
}

//md and bigger screens
@media ($md-min) {
  .headerNavigationBase {
    height: $headerHeightMd;
  }

  .headerBackgroundImage {
    background-image: $headerBackgroundImageMd;
  }

  .headerLogoContainer {
    width: $headerLogoContainerWidthMd;
    height: $headerLogoContainerHeightMd;
  }
}

//lg and bigger screens
@media ($lg-min) {
  .headerNavigationBase {
    height: $headerHeightLg;
  }

  .headerBackgroundImage {
    background-image: $headerBackgroundImageLg;
  }

  .headerLogoContainer {
    width: $headerLogoContainerWidthLgXl;
    height: $headerLogoContainerHeightLgXl;
  }


  .headerShrink {
    height: $headerHeightLg/2;
    .headerLogoContainer {
      width: $headerLogoContainerWidthLgXl/2;
      height: $headerLogoContainerHeightLgXl/2;
    }

    &.headerBackgroundImage {
      background-position-y: 50%;
    }
  }
}

//xl and bigger screens
@media ($xl-min) {
  .headerBackgroundImage {
    background-image: $headerBackgroundImageXl;
  }
}
