$navbar-background-md: url(../../dist/images/DEM/header/Dem_NavBar_bg_md.png);
$navbar-background-lg: url(../../dist/images/DEM/header/Dem_NavBar_bg_lg.png);
$navbar-background-xl: url(../../dist/images/DEM/header/Dem_NavBar_bg_xl.png);

$footer-background-lg: url(../../dist/images/DEM/footer/Dem_Footer_bg_lg.png);
$footer-background-xl: url(../../dist/images/DEM/footer/Dem_Footer_bg_xl.png);