$menu-button-background-color: #252525;
$orange-color: #ac6b37;
$header-background-color: #322c27;
$body-background-color: #171717;
$footer-background-color: #3e3025;
$footer-content-color: #cfb095;
$forum-container-heder-color: #564b41;