@import "Common/colors.scss";
@import "Common/image-backgrounds";

.bbCode-root{
  width: 100%;
  word-break: break-word;
}

.bbCode-bold{
  font-weight: bold;
}

.bbCode-link{
  word-break: break-all;
}

.bbCode-italic{
  font-style: italic
}

.bbCode-underline{
  text-decoration: underline;
}

.bbCode-line-through{
  text-decoration: line-through;
}

.bbCode-offtopic{
  .bbCode-offtopic-content{
    color: $bbCode-offtopic-color;
  }
}

.bbCode-code-header,
.bbCode-quote-author,
.bbCode-offtopic > .bbCode-offtopic-header{
  font-weight: bold;
}

.bbCode-quote {
  border: $bbCode-border-size solid $bbCode-quote-border-color;
  background-color: $bbCode-quote-background-color;
  padding: $bbCode-padding;
  margin: $bbCode-quote-margin-vertical $bbCode-quote-margin-horisontal;
}

.bbCode-code {
  border: $bbCode-border-size solid $bbCode-code-border-color;
  background-color: $bbCode-code-background-color;
  padding: $bbCode-padding;

  .bbCode-code-header{
    color: $bbCode-code-header-color;
  }

  .bbCode-code-content{
    font-family: monospace;
    white-space: pre-wrap;
    color: $bbCode-code-content-color;
  }
}

.bbCode-think{
  padding: $bbCode-padding;
  .bbCode-think-content{
     background-color: #d4c5b6;
     border-radius: $bbCode-think-content-border-radius;
     border: $bbCode-border-size solid #FFFFFF;
     padding: $bbCode-padding;
  }
  .bbCode-think-image{
    background-image: $bbCode-think-smile;
    background-size: $bbCode-think-image-size;
    background-repeat: no-repeat;
    padding-top: $bbCode-think-image-size;
  }
}
