.bbCode-root{
  width: 100%;
    word-break: break-word;
}

.bbCode-bold{
  font-weight: bold;
}

.bbCode-link{
  word-break: break-all;
}

.bbCode-italic{
  font-style: italic
}

.bbCode-underline{
  text-decoration: underline;
}

.bbCode-line-through{
  text-decoration: line-through;
}
