@import "Common/sizes.scss";
@import "Common/colors.scss";

.breadcrumb {
  padding: $breadcrumb-padding-marging-left-right-bottom;
  margin: $breadcrumb-padding-marging-left-right-bottom;
  margin-top: $breadcrumb-marging-top;
  background-color: $breadcrumb-background-color;
  display: flex;
  flex-flow: row wrap;

  .breadcrumb-item {
    max-width: 24%;
    min-width: 4%;

    .breadcrumb-item-arrow {
      display: block;
      background: $breadcrumb-item-background-color;
      text-align: center;
      padding-right: $breadcrumb-item-arrow-padding-margin-right;
      padding-left: $breadcrumb-item-arrow-padding-left;
      position: relative;
      margin-right: $breadcrumb-item-arrow-padding-margin-right;
      text-decoration: none;
      font-size: $breadcrumb-item-arrow-font-size;
      line-height: $breadcrumb-item-arrow-line-height;
      font-weight: bold;
      height: $breadcrumb-item-arrow-height;

      div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .breadcrumb-item-arrow:after,
    .breadcrumb-item-arrow:before {
      content: "";
      border-top: $breadcrumb-item-arrow-height/2 solid transparent;
      border-bottom: $breadcrumb-item-arrow-height/2 solid transparent;
      position: absolute;
      top: 0;
    }

    .breadcrumb-item-arrow:after {
      border-left: $breadcrumb-item-arrow-height/2 solid $breadcrumb-item-background-color;
      right: -$breadcrumb-item-arrow-height/2;
      z-index: 1;
    }

    .breadcrumb-item-arrow:before {
      border-left: $breadcrumb-item-arrow-height/2 solid $breadcrumb-background-color;
      left: 0;
    }

    .breadcrumb-item-arrow:hover,
    &.breadcrumb-item-active .breadcrumb-item-arrow {
      background: $breadcrumb-item-background-color-hovered;
    }

    &.breadcrumb-item-active .breadcrumb-item-arrow:after,
    .breadcrumb-item-arrow:hover:after  {
      border-left-color: $breadcrumb-item-background-color-hovered;
    }

    &.breadcrumb-item-active .breadcrumb-item-arrow,
    &.breadcrumb-item-ignored .breadcrumb-item-arrow{
      pointer-events: none;
      cursor: default;
    }


    &.breadcrumb-item-ignored .breadcrumb-item-arrow:hover {
      background: $breadcrumb-item-background-color;
    }

    &.breadcrumb-item-ignored .breadcrumb-item-arrow:after,
    &.breadcrumb-item-ignored .breadcrumb-item-arrow:hover:after  {
      border-left-color: $breadcrumb-item-background-color;
    }
  }

  .breadcrumb-item:first-child{
    .breadcrumb-item-arrow{
      padding-left: $breadcrumb-item-arrow-height/2;
    }
    .breadcrumb-item-arrow:before {
      display: none;
    }
  }

  .breadcrumb-item:last-child{
    .breadcrumb-item-arrow {
      padding-right: $breadcrumb-item-arrow-height/2;
    }

    .breadcrumb-item-arrow:after {
      display: none;
    }
  }
}
