@import "../Common/colors.scss";
@import "../Common/sizes.scss";
@import "../Common/slideAnimation.scss";

.chapter-container {
  padding-top: $chapter-container-and-footer-padding-top;

  .chapter-header {
    width: 100%;
    height: $chapter-header-height;
    background-color: $chapter-header-color;
    color: $orange-text-color;
    font-size: $chapter-header-font-size;

    .chapter-header-wrapper {
      padding: 0 $chapter-header-title-padding-horizontal;

      .chapter-header-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: initial;
        a {
          color: $orange-text-color;
        }
      }

      .chapter-header-title-info-label {
        font-size: 1rem;
        line-height: 1;
        align-items: center;
      }

      .icon-arrow-left-chapter-title {
        display: none;
        margin-left: auto;
        .icon-arrow-left {
          width: $icon-arrow-left-chapter-title;
          height: $icon-arrow-left-chapter-title;
          .icon-arrow-left-path {
            fill: $orange-text-color;
          }
        }
      }
    }
  }

  .chapter-body {
    background-color: #7b736b;
    color: #48423d;
  }
}

//md and smaller screens
@media (max-width: 991px) {
  .chapter-container {

    .icon-arrow-left {
      @include element-rotate-center-to-0;
    }

    .icon-arrow-left-opened {
      @include element-rotate-center-to--90;
    }

    .chapter-body-default {
      @include element-closed;
    }

    .chapter-body-opened {
      @include element-opened;
    }
  }
}


//md screens only
@media (min-width: 768px) and (max-width: 991px) {
  .chapter-container {
    .chapter-header {
      .chapter-header-wrapper {
        .icon-arrow-left-chapter-title {
          display: initial;
        }
      }
    }
  }
}
