@import "../Common/colors.scss";
@import "../Common/sizes.scss";
@import "../Common/slideAnimation.scss";

.collapsible-wrapper-container {
  padding-top: $collapsible-wrapper-container-and-footer-padding-top;

  .collapsible-wrapper-header {
    width: 100%;
    height: $collapsible-wrapper-header-height;
    background-color: $collapsible-wrapper-header-color;
    color: $orange-text-color;
    font-size: $collapsible-wrapper-header-font-size;

    .collapsible-wrapper-header-title-wrapper {
      padding: 0 $collapsible-wrapper-header-title-padding-horizontal;

      .collapsible-wrapper-header-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: initial;
        a {
          color: $orange-text-color;
        }
      }

      .collapsible-wrapper-header-title-info-label {
        font-size: 1rem;
        line-height: 1;
        align-items: center;
      }

      .icon-arrow-left-collapsible-wrapper-title {
        display: none;
        margin-left: auto;
        .icon-arrow-left {
          width: $icon-arrow-left-collapsible-wrapper-title;
          height: $icon-arrow-left-collapsible-wrapper-title;
          .icon-arrow-left-path {
            fill: $orange-text-color;
          }
        }
      }
    }
  }

  .collapsible-wrapper-body {
    background-color: #7b736b;
    color: #48423d;
  }
}

//md and smaller screens
@media (max-width: 991px) {
  .collapsible-wrapper-container {

    .icon-arrow-left {
      @include element-rotate-center-to-0;
    }

    .icon-arrow-left-opened {
      @include element-rotate-center-to--90;
    }

    .collapsible-wrapper-body-default {
      @include element-closed;
    }

    .collapsible-wrapper-body-opened {
      @include element-opened;
    }
  }
}


//md screens only
@media (min-width: 768px) and (max-width: 991px) {
  .collapsible-wrapper-container {
    .collapsible-wrapper-header {
      .collapsible-wrapper-header-title-wrapper {
        .icon-arrow-left-collapsible-wrapper-title {
          display: initial;
        }
      }
    }
  }
}
