@import "../Common/colors.scss";
@import "../Common/sizes.scss";
@import "../Common/slideAnimation.scss";

.content-holder-container {
  padding-top: $content-holder-container-and-footer-padding-top;

  .content-holder-header {
    width: 100%;
    height: $content-holder-header-height;
    background-color: $content-holder-header-color;
    color: $orange-text-color;
    font-size: $content-holder-header-font-size;

    .content-holder-header-title-wrapper {
      padding: 0 $content-holder-header-title-padding-horizontal;

      .content-holder-header-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: initial;
        a {
          color: $orange-text-color;
        }
      }

      .content-holder-header-title-info-label {
        font-size: 1rem;
        line-height: 1;
        align-items: center;
      }

      .icon-arrow-left-content-holder-title {
        display: none;
        margin-left: auto;
        .icon-arrow-left {
          width: $icon-arrow-left-content-holder-title;
          height: $icon-arrow-left-content-holder-title;
          .icon-arrow-left-path {
            fill: $orange-text-color;
          }
        }
      }
    }
  }

  .content-holder-body {
    background-color: $content-holder-body-background-color;
    color: $content-holder-body-color;
  }
}

//md and smaller screens
@media (max-width: 991px) {
  .content-holder-container {

    .icon-arrow-left {
      @include element-rotate-center-to-0;
    }

    .icon-arrow-left-opened {
      @include element-rotate-center-to--90;
    }

    .content-holder-body-default {
      @include element-closed;
    }

    .content-holder-body-opened {
      @include element-opened;
    }
  }
}


//md screens only
@media (min-width: 768px) and (max-width: 991px) {
  .content-holder-container {
    .content-holder-header {
      .content-holder-header-title-wrapper {
        .icon-arrow-left-content-holder-title {
          display: initial;
        }
      }
    }
  }
}
