@import "../Common/colors.scss";
@import "../Common/sizes.scss";
@import "../Common/image-backgrounds.scss";

.footer-container {
  padding-top: $chapter-container-and-footer-padding-top;
  width: 100%;

  .footer {
    background-color: $footer-background-color;
    height: $footer-height-md-down;
    color: $footer-text-color;

    .footer-copyright-wrapper{
      flex: 1 0 0;
      align-items: center;
    }

    .footer-empty-wrapper,
    .footer-social-media-link-wrapper {
      flex: 2 0 0;
    }
  }
}

//lg and bigger screens
@media (min-width: 992px) {
  .footer-container{
    .footer {
      height: $footer-height-lg-up;
      background-image: $footer-background-lg;
    }
  }
}

//xl and bigger screens
@media (min-width: 1200px) {
  .footer-container{
    .footer {
      background-image: $footer-background-xl;
    }
  }
}
