@import "../Common/colors.scss";
@import "../Common/sizes.scss";

.forum-container-wrapper {
  .forum-title {
    font-size: $forum-title-font-size;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .forum-description {
    font-size: $forum-description-topics-posts-counter-topics-views-counter-last-message-font-size;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .forum-last-active-topic {
    font-size: $forum-description-topics-posts-counter-topics-views-counter-last-message-font-size;
    .forum-last-active-topic-message {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .forum-container-separator {
      background-color: $forum-sub-forum-topic-container-separator-background-color;
      height: $forum-topic-container-separator-height;
      margin: $forum-topic-container-separator-margin-top-bottom $forum-topic-container-separator-margin-left-right;
  }
}

.forum-container-wrapper:last-child {
  .forum-container-separator {
    display: none;
  }
}


//md and smaller screens
@media (max-width: 991px) {
  .forum-container-wrapper {
    .forum-topics-counter,
    .forum-posts-counter {
      display: inline-block;
      width: initial;
      padding-right: $forum-topics-posts-counter-padding-right;
      font-size: $forum-description-topics-posts-counter-topics-views-counter-last-message-font-size;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

//md screens only
@media (min-width: 768px) and (max-width: 991px) {
  .forum-last-post-wrapper {
    margin: initial;
    display: flex;
    flex-wrap: wrap;

    .forum-last-post-autor-name-style,
    .forum-last-active-topic {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .forum-last-post-autor-name-style {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
    }

    .forum-last-active-topic {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

//lg and bigger screens
@media (min-width: 992px) {
  .forum-topics-counter,
  .forum-posts-counter,
  .forum-last-post-wrapper {
    align-items: center;
  }

  .forum-last-post-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
