@import "../Common/colors.scss";
@import "../Common/sizes.scss";

.forum-container-wrapper {
  .forum-title {
    font-size: $forum-title-font-size;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .forum-description {
    font-size: $forum-description-topics-posts-counter-last-message-font-size;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .forum-last-active-topic {
    font-size: $forum-description-topics-posts-counter-last-message-font-size;
    .forum-last-active-topic-message {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .forum-container-separator {
      background-color: $forum-container-separator-background-color;
      height: $forum-container-separator-height;
      margin: $forum-container-separator-margin-top-bottom $forum-container-separator-margin-left-right;
  }
}

.forum-container-wrapper:last-child {
  .forum-container-separator {
    display: none;
  }
}


//lg- screens
@media (max-width: 991px) {
  .forum-container-wrapper {
    .forum-topics-counter,
    .forum-posts-counter {
      display: inline-block;
      width: initial;
      padding-right: $forum-topics-posts-counter-padding-right;
      font-size: $forum-description-topics-posts-counter-last-message-font-size;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
