@import "../Common/colors.scss";
@import "../Common/sizes.scss";
@import "../Common/image-backgrounds.scss";

nav {
  min-width: $body-min-width;
  background-color: $header-background-color;
  // next two row needed for smoothly change of size
  flex: 1;
  transition: all 400ms linear;
}

.header-height {
  height: $header-height-and-page-content-margin-top-xs-sm;
}

//md and bigger screens
@media (min-width: 768px) {
  .header-height {
    height: $header-height-and-page-content-margin-top-md;
  }

  .header-logo-bg {
    background-image: $navbar-background-md;
  }
}

//lg and bigger screens
@media (min-width: 992px) {
  .header-height {
    height: $header-height-and-page-content-margin-top-lg;
  }

  .header-logo-bg {
    background-image: $navbar-background-lg;
  }


  .nav-shrink {
    height: $header-height-and-page-content-margin-top-lg/2;

    &.header-logo-bg {
      background-position-y: 50%;
    }
  }
}

//xl and bigger screens
@media (min-width: 1200px) {
  .header-logo-bg {
    background-image: $navbar-background-xl;
  }
}
