@import "../Common/colors.scss";
@import "../Common/sizes.scss";
@import "../Common/slideAnimation.scss";

.navbar-nav {
  background-color: $menu-button-background-color;
  margin-top: 0;
}

.navbar-nav .nav-array-item + .nav-array-item {
  margin-left: initial;
}

//md and smaller screens
@media (max-width: 991px) {
  .nav-links-default  {
    width: 100%;
    display: flex;
    flex-flow: column;
    @include element-closed;
  }

  .nav-links-opened {
    @include element-opened;
  }
}

//lg and bigger screens
@media (min-width: 992px) {
  .nav-links-container{
    align-items: flex-end;
    .navbar-nav {
      background-color: initial;
      padding-right: $navbar-padding-right;
        .nav-link {
          padding-top: initial;
          padding-bottom: initial;
      }
    }
  }
}
