@import "../Common/colors.scss";
@import "../Common/sizes.scss";

ul {
  .nav-array-item {
    margin-left: initial;
  }

  .nav-link {
    color: $orange-text-color;
    font-size: $nav-link-font-size;
    padding-left: $nav-link-padding-left-right;
    padding-right: $nav-link-padding-left-right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .nav-link-separator {
    background-color: $orange-text-color;
    height: $nav-link-separator-height;
  }
}


//lg and bigger screens
@media (min-width: 992px) {
  ul {
    .nav-link {
      color: $link;
      font-size: initial;
    }

    .nav-link:hover {
      color: $link-hovered;
    }

    .nav-link-separator {
      display: none;
    }
  }
}
