@import "../Common/colors.scss";
@import "../Common/sizes.scss";

.navbar-nav {
  background-color: $menu-button-background-color;
  margin-top: 0;
}

.navbar-nav .nav-list-item + .nav-list-item {
  margin-left: initial;
}

//lg- screens
@media (max-width: 991px) {
  .close-links {
    // next three row needed for smoothly change of size (menu collapsed by default)
    flex: 0.00001;
    overflow: hidden;
    transition: all 350ms linear;
  }

  .open-links {
    flex: 1;
  }
}

//lg+ screens
@media (min-width: 992px) {
  .navbar-nav {
    background-color: initial;
    padding-right: $navbar-padding-right;
      .nav-link {
        padding-top: initial;
        padding-bottom: initial;
    }
  }
}
