@import "../Common/sizes.scss";
@import "../Common/image-backgrounds.scss";

.social-media-link{
  height: $social-media-link-height-weight;
  width: $social-media-link-height-weight;
  margin: 0 $social-media-link-marging-left-right;

  .social-media-link-Steam,
  .social-media-link-Vk {
      opacity: 0.4;
  }
}

.social-media-link:last-child{
  margin-right: $social-media-link-last-child-marging-right;
}
