@import "../Common/colors.scss";
@import "../Common/sizes.scss";

.topic-container-wrapper {
  .topic-title{
    font-size: $forum-title-font-size;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .topic-parent-forum-wrapper {
    display: none;
  }

  .topic-container-separator {
      background-color: $forum-sub-forum-topic-container-separator-background-color;
      height: $forum-topic-container-separator-height;
      margin: $forum-topic-container-separator-margin-top-bottom $forum-topic-container-separator-margin-left-right;
  }

  .topic-parent-forum-title,
  .topic-parent-forum-title:hover{
    color: $orange-bright-text-color;
  }

  .topic-last-post-wrapper{
    .topic-last-post-author-avatar-container{
      width: $topic-last-post-author-avatar-size;
      .topic-last-post-author-avatar {
        height: $topic-last-post-author-avatar-size;
        justify-content: center;
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        img {
          flex: 0 0 auto;
          max-width: 100%;
          max-height: 100%;
          align-self: center;
          -webkit-align-self: center;
          margin: auto;
          object-fit: scale-down;
        }
      }
    }
  }
  .topic-last-post-wrapper>div{
    width: 100%;
    height: 100%;
  }
}

.topic-container-wrapper:last-child {
  .topic-container-separator {
    display: none;
  }
}


//md and smaller screens
@media (max-width: 991px) {
  .topic-container-wrapper {
    .topic-views-counter,
    .topic-posts-counter {
      display: inline-block;
      width: initial;
      padding-right: $forum-topics-posts-counter-padding-right;
      font-size: $forum-description-topics-posts-counter-topics-views-counter-last-message-font-size;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .topic-posts-counter {
      .topic-parent-forum-wrapper {
        display: initial;
        padding-left: $forum-topics-posts-counter-padding-right;
      }
    }
  }
}

//sm and smaller screens
@media (max-width: 767px){
  .topic-container-wrapper {
    .topic-last-message-time,
    .topic-last-post-autor-name-style,
    .topic-last-post-author-sm-separator,
    .topic-last-post-wrapper {
      font-size: $forum-description-topics-posts-counter-topics-views-counter-last-message-font-size;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

//md screens only
@media (min-width: 768px) and (max-width: 991px) {
  .topic-last-post-wrapper {
    margin: initial;
    display: flex;
    flex-wrap: wrap;
  }

    .topic-last-post-autor-name-style,
    .topic-last-message-time {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

  .topic-last-post-autor-name-style {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .topic-last-message-time {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

//md and bigger screens
@media (min-width: 768px) {
  .topic-last-post-author {
    display: flex;
    flex: 1;
    text-align: center;
  }
}

//lg and bigger screens
@media (min-width: 992px) {
  .topic-views-counter,
  .topic-posts-counter,
  .topic-last-post-wrapper {
    align-items: center;
  }

  .topic-last-post-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .topic-last-post-author {
    flex-direction: column;
    justify-content: center;
  }

  .topic-title-wrapper {
    .topic-parent-forum-wrapper {
      display: initial;
    }
  }
}
