@import "sizes.scss";
@import "common.scss";

.pageContentWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pageContent {
  flex: 1 0 auto;
  padding-top: $pageContentPaddingTopXsSm;
}

@media ($md-min)
{
  .pageContent  {
    padding-top: $pageContentPaddingTopMd;
  }
}

@media ($lg-min)
{
  .pageContent  {
    padding-top: $pageContentPaddingTopLgXl;
  }
}
